body {
    background-color: #000a14;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 100%
}

h1, h2, h3{
    font-family: 'Pixelify Sans';
    color: purple;
}

p, h4, h5, h6 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
max-width: 100%;
overflow-x: hidden;
}

hr {
    border: none;
    background-color: #00305f;
    height: 0.4rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: hotpink;
}

ul.dropdown-menu>li {
    text-align: center;
}

.card{
    background-image: url('bg.gif'); 
    background-size: cover; 
    background-position: center;
    text-align: center;
    border-style: dashed;
    border-width: 0.25rem;
    border-color: hotpink;
    border-radius: 1rem;
}

.card-title{
    color: white;
}

.card-icon{
    width: 5em;
    height: auto;
}
nav, .footer, .dropdown-menu{
    background-color: indigo;
  }

/* (un)visited link */
a:link, a:visited{
    color: #FFBA29;
}

/* mouse over and select link */
a:hover, a:active {
    color: hotpink;
}
